body {
    margin: 0;
}

h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
}

#loading {
    width:100%;
    height:100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
    display: grid;
    align-content: center;
    justify-content: center;
    top:0;
    left:0;
}

#loading div {
    text-align: center;
    color: white;
    font-size: 3em;
}

.error {
    color:red;
}

#controls {
    position: fixed;
    right:10px;
    top:10px;
    z-index: 1;
    display: none;
}

#controls button {
    margin: 3px;
}

#panelBg {
    background-color:rgba(0, 0, 0, .7);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    justify-content: center;
    align-content: center;
    z-index: 10;
}

#admin {
    width:300px;
}

#distances {
    height:285px;
    overflow-y: auto;
    display: block;
    border-top: 1px dotted darkgray;
    border-bottom: 1px dotted darkgray;
}

#distance {
    width: 50px;
}

#adminPanel {
    width:300px;
    height:500px;
    background-color: white;
    padding: 3px;
}

#routePanel {
    display: none;
}

#btnRefresh {
    text-decoration: underline;
}

#btnRefreshClose {
    float:right;
}

#bannerRefresh {
    text-align: center;
    background-color: azure;
    cursor: pointer;
    display: none;
}